body {
  background-color: #fff5ee;
}
main {
  width: 800px;
  padding: 200px;
}
main h1 {
  color: #c71585;
}
main h2 {
  color: rgb(228, 11, 145);
}

#order form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
  color: #db7093;
}
#field {
  margin: 10px 5px;
}

#order fieldset {
  border: 2px solid #c71585;
  border-radius: 10%;
}
